<mat-tab-group mat-align-tabs="center">
	
	<mat-tab label="All">
		<table class="notes-table">
				<tbody>
					<tr *ngFor="let task of tasks; let ind=index;trackBy:customTrackBy" class="notes-row">
							<td>
								<div class="taskDiv" 
								(mouseenter)="mouseEntered(ind)"
								 (mouseleave)="mouseLeft(ind)">
									
									<img *ngIf="!completed[ind]" id="circle" 
									(click)="onClick(ind)"
									 src="assets/circle.png" width="30px" height="30px">
									
									<img *ngIf="completed[ind]"
									(click)="onClick(ind)" src="assets/tick.png" width="30px" height="30px">
									
									<input class="input" type="text" name="tasks"
									[ngClass]="completed[ind]? 'complete' : 'notComplete'" 
									[(ngModel)]="tasks[ind]"
									name="task"
									ngModel
									#task="ngModel"> 
									
									<img *ngIf="entered[ind]"
									(click)="deleteTask(ind)"
									 src="assets/cancel.png" width="15px" height="15px">
								</div>
							</td>
					</tr>
				</tbody>
		</table>
	</mat-tab>

	<mat-tab label="Active">
		<table class="notes-table">
				<tbody>
					<tr *ngFor="let num of tasks; let ind=index;trackBy:customTrackBy" class="notes-row">
						<td *ngIf="!completed[ind]">
							<div class="taskDiv" 
								(mouseenter)="mouseEntered(ind)"
								 (mouseleave)="mouseLeft(ind)">
									
									<img *ngIf="!completed[ind]" id="circle" 
									(click)="onClick(ind)"
									 src="assets/circle.png" width="30px" height="30px">
									
									<img *ngIf="completed[ind]"
									(click)="onClick(ind)" src="assets/tick.png" width="30px" height="30px">
									
									<input class="input" type="text" name="tasks"
									[ngClass]="completed[ind]? 'complete' : 'notComplete'" 
									[(ngModel)]="tasks[ind]"
									name="task"
									ngModel
									#task="ngModel"> 
									
									<img *ngIf="entered[ind]"
									(click)="deleteTask(ind)"
									 src="assets/cancel.png" width="15px" height="15px">
								</div>
							</td>
					</tr>
				</tbody>
		</table>
	</mat-tab>

	<mat-tab label="Completed">
		<table class="notes-table">
				<tbody>
					<tr *ngFor="let num of tasks; let ind=index; trackBy:customTrackBy" class="notes-row">
							<td *ngIf="completed[ind]">
								<div class="taskDiv" 
								(mouseenter)="mouseEntered(ind)"
								 (mouseleave)="mouseLeft(ind)">
									
									<img *ngIf="!completed[ind]" id="circle" 
									(click)="onClick(ind)"
									 src="assets/circle.png" width="30px" height="30px">
									
									<img *ngIf="completed[ind]"
									(click)="onClick(ind)" src="assets/tick.png" width="30px" height="30px">
									
									<input class="input" type="text" name="tasks" 
									[(ngModel)]="tasks[ind]"
									name="task"
									ngModel
									#task="ngModel"> 
									
									<img *ngIf="entered[ind]"
									(click)="deleteTask(ind)"
									 src="assets/cancel.png" width="15px" height="15px">
								</div>
							</td>
					</tr>
				</tbody>
		</table>
	</mat-tab>

</mat-tab-group>


<input type="text" name="tasks" class="center-block"><br>