
.todoTable{
	margin-left: 40%;
}

.mat-tab-group {
	margin-bottom: 48px;
}

.notes-table {
	margin-left: 39%;
	border-collapse: collapse;
	user-select: none;
}

.center-block {
	margin: auto;
	display: block;
  }

 .input{
 	border:	none;
 	text-decoration: none;
 	width: 80%;
 }

 .input:focus{
 	outline: none;
 }

 .taskDiv{
 	width: 130%;
 	padding: 4px;
 	border: 1px black solid;
 	border-radius: 20px;
 }

.taskDiv1{
	width: 130%;
 	padding: 4px;
 	border: 2px black solid;
 	border-radius: 20px;
}

 .notComplete{
 	text-decoration: none;
 }

 .complete{
 	text-decoration: line-through;
 }

 .input-group{
 	width: 40%;
 	border: 1px black dotted;
 	border-radius: 20px;
 	padding: 5px;
 }

.input-group:focus{
	outline: none;
}

 .form{
 	margin-left: 38%;
 }
